PORT=5000
JWT_SECRET=kingsol_super_secret_jwt_key_2026_solar_admin
DATABASE_URL=postgresql://neondb_owner:npg_w7IhRy8cZCYd@ep-wild-glade-az05knfm-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Email Notification Credentials (Gmail App Password)
EMAIL_USER=nikamnachiket2004@gmail.com
EMAIL_APP_PASSWORD=ccoz olui toab aqdh
ADMIN_EMAIL=nikamnachiket2004@gmail.com

